<html
    lang="de"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<!-- Templates/Loggedin.html -->
    <div class="extension_frame">
        <p>Hallo {loginTanzpartnersuche.username},</p>

        <p><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:loggedinIntro" /></p>

        <p><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:loggedinLegal" /></p>

        <f:flashMessages />

        <div id="appmenu" class="appmenu">
            <f:link.action action="edit" class="tile">
                <div class="info"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:menuEdit" /></div>
                <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/docs.png" width="50px" height="50px" />
                <h4 class="fittext"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:menuEditDetail" /></h4>
            </f:link.action>
            <f:link.action action="changepassword" class="tile">
                <div class="info"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:menuChangepassword" /></div>
                <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/login.png" width="50px" height="50px" />
                <h4 class="fittext"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:menuChangepasswordDetail" /></h4>
            </f:link.action>
            <f:link.action action="delete" class="tile lightred">
                <div class="info"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:menuDelete" /></div>
                <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/delete.png" width="50px" height="50px" />
                <h4 class="fittext"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:menuDeleteDetail" /></h4>
            </f:link.action>
            <f:link.action action="logout" class="tile yellow">
                <div class="info"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:menuLogout" /></div>
                <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/logout.png" width="50px" height="50px" />
                <h4 class="fittext"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:menuLogoutDetail" /></h4>
            </f:link.action>
        </div>
    </div>

</html>
