<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="username">
	<f:translate key="tx_tanzpartnersuche_domain_model_user.username" />
</label><br />
	<f:form.textfield property="username" id="username" /><br />
<label for="password">
	<f:translate key="tx_tanzpartnersuche_domain_model_user.password" />
</label><br />
	<f:form.password property="password" id="password" /><br />
<label for="email">
	<f:translate key="tx_tanzpartnersuche_domain_model_user.email" />
</label><br />
	<f:form.textfield type="email" property="email" id="email" /><br />
<label for="height">
	<f:translate key="tx_tanzpartnersuche_domain_model_user.height" />
</label><br />
	<f:form.textfield property="height" id="height" /><br />
<label for="age">
	<f:translate key="tx_tanzpartnersuche_domain_model_user.age" />
</label><br />
	<f:form.textfield property="age" id="age" /><br />
<label for="gender">
	<f:translate key="tx_tanzpartnersuche_domain_model_user.gender" />
</label><br />
	<f:form.textfield property="gender" id="gender" /><br />
<label for="picture">
	<f:translate key="tx_tanzpartnersuche_domain_model_user.picture" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
</html>