<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-tanzpartnersuche" >
	<tr>
		<td>
			<f:translate key="tx_tanzpartnersuche_domain_model_user.username" />
		</td>
		<td>
		{user.username}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tanzpartnersuche_domain_model_user.password" />
		</td>
		<td>
		{user.password}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tanzpartnersuche_domain_model_user.email" />
		</td>
		<td>
		{user.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tanzpartnersuche_domain_model_user.height" />
		</td>
		<td>
		{user.height}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tanzpartnersuche_domain_model_user.age" />
		</td>
		<td>
		{user.age}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tanzpartnersuche_domain_model_user.gender" />
		</td>
		<td>
		{user.gender}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tanzpartnersuche_domain_model_user.picture" />
		</td>
		<td>
				<f:image src="{user.picture.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>
</html>
