<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="level">
	<f:translate key="tx_tanzpartnersuche_domain_model_offer.level" />
</label><br />
	<f:form.textfield property="level" id="level" /><br />
<label for="category">
	<f:translate key="tx_tanzpartnersuche_domain_model_offer.category" />
</label><br />
	<f:form.textfield property="category" id="category" /><br />
<label for="bio">
	<f:translate key="tx_tanzpartnersuche_domain_model_offer.bio" />
</label><br />
	<f:form.textarea property="bio" id="bio" cols="40" rows="15" /><br />
<label for="role">
	<f:translate key="tx_tanzpartnersuche_domain_model_offer.role" />
</label><br />
	<f:form.textfield property="role" id="role" /><br />
</html>