<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="level">
	<f:translate key="tx_tanzpartnersuche_domain_model_offer.level" />
</label><br />
	<f:form.select name="level">
		<f:form.select.option value="0"><f:translate key="tx_tanzpartnersuche_domain_model_offer.level0" /></f:form.select.option>
		<f:form.select.option value="1"><f:translate key="tx_tanzpartnersuche_domain_model_offer.level1" /></f:form.select.option>
		<f:form.select.option value="2"><f:translate key="tx_tanzpartnersuche_domain_model_offer.level2" /></f:form.select.option>
		<f:form.select.option value="3"><f:translate key="tx_tanzpartnersuche_domain_model_offer.level3" /></f:form.select.option>
		<f:form.select.option value="4"><f:translate key="tx_tanzpartnersuche_domain_model_offer.level4" /></f:form.select.option>
		<f:form.select.option value="5"><f:translate key="tx_tanzpartnersuche_domain_model_offer.level5" /></f:form.select.option>
		<f:form.select.option value="6"><f:translate key="tx_tanzpartnersuche_domain_model_offer.level6" /></f:form.select.option>
		<f:form.select.option value="7"><f:translate key="tx_tanzpartnersuche_domain_model_offer.level7" /></f:form.select.option>
	</f:form.select> <br /><br />
<label for="category">
	<f:translate key="tx_tanzpartnersuche_domain_model_offer.category" />
</label><br />
	<f:form.select name="category">
		<f:form.select.option value="0"><f:translate key="tx_tanzpartnersuche_domain_model_offer.category0" /></f:form.select.option>
		<f:form.select.option value="1"><f:translate key="tx_tanzpartnersuche_domain_model_offer.category1" /></f:form.select.option>
		<f:form.select.option value="2"><f:translate key="tx_tanzpartnersuche_domain_model_offer.category2" /></f:form.select.option>
	</f:form.select> <br /><br />
<label for="bio">
	<f:translate key="tx_tanzpartnersuche_domain_model_offer.bio" />
</label><br />
	<f:form.textarea property="bio" id="bio" cols="40" rows="15" /><br />
<label for="role">
	<f:translate key="tx_tanzpartnersuche_domain_model_offer.role" />
</label><br />
	<f:form.select name="role">
		<f:form.select.option value="0"><f:translate key="tx_tanzpartnersuche_domain_model_offer.role0" /></f:form.select.option>
		<f:form.select.option value="1"><f:translate key="tx_tanzpartnersuche_domain_model_offer.role1" /></f:form.select.option>
		<f:form.select.option value="2"><f:translate key="tx_tanzpartnersuche_domain_model_offer.role2" /></f:form.select.option>
	</f:form.select> <br /><br />
</html>