<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-tanzpartnersuche" >
	<tr>
		<td>
			<f:translate key="tx_tanzpartnersuche_domain_model_offer.level" />
		</td>
		<td>
		{offer.level}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tanzpartnersuche_domain_model_offer.category" />
		</td>
		<td>
		{offer.category}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tanzpartnersuche_domain_model_offer.bio" />
		</td>
		<td>
		{offer.bio}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tanzpartnersuche_domain_model_offer.role" />
		</td>
		<td>
		{offer.role}
		</td>
	</tr>
</table>
</html>
