/**************************************/
/* Default styles for Tanzpartnersuche extension */
/**************************************/


/* Initializing */

.tps .clear {
	clear: both;
}

body {
    font: 400 16px/22px "Open Sans",Arial,Helvetica,sans-serif;
    color: #000;
    background: #FEFDF4;
    -webkit-font-smoothing: antialiased !important;
    padding: 10px;
}

.row {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.radioWrap {
    float: left;
    width: 175px;
    height: 45px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;
    background: #FFD55F;
    color: #333333;
    box-sizing: border-box;
}

.radioWrap:last-child {
    margin-right: 0;
}

.hide {
    display: none;
}

/* Customize the label (the container) */
.checkcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  /* Hide the browser's default radio button */
  .checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .radiobtn {
    position: absolute;
    top: 12;
    left: 5;
    height: 22px;
    width: 22px;
    background-color: #FFFFFF;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .checkcontainer:hover input ~ .radiobtn {
    background-color: #888888;
  }
  
  /* When the radio button is checked, add a background */
  .checkcontainer input:checked ~ .radiobtn {
    background-color: #888888;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radiobtn:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .checkcontainer input:checked ~ .radiobtn:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .checkcontainer .radiobtn:after {
    top: 2px;
    left: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #FFC300;
  }

  /* Abstand zwischen <div> Blöcken */
  .spacer {
    margin-bottom: 15px;
  }


  /* Hauptmenu */
  #menu-table {
    margin: 50px auto;
    text-align: center;
    width: 970px; 
  }
  
  #menu-table .option {
    font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
    text-shadow: 0 1px rgba(255,255,255,.8);        
    background: #fff;      
    border: 1px solid #ddd;
    color: #333;
    padding: 20px;
    width: 180px; /* option width = 180 + 20 + 20 + 1 + 1 = 222px */      
    float: left;
    position: relative;
  }
  
  #menu-table #most-popular {
    z-index: 2;
    top: -13px;
    border-width: 3px;
    padding: 30px 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
    box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);    
  }
  
  #menu-table .option:nth-child(1) {
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;        
  }
  
  #menu-table .option:nth-child(4) {
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;        
  }

  #menu-table .option img {
    margin-top: 22px;
  }

  #menu-table a {
    color: #000000;
  }

  #menu-table a:hover {
    text-decoration: none;
    color: #888888 !important;
  }
  
  /* --------------- */	
  
  #menu-table h3 {
    font-size: 20px;
    font-weight: normal;
    padding: 20px;
    margin: -20px -20px 50px -20px;
    background-color: #eee;
    background-image: -moz-linear-gradient(#fff,#eee);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
  }
  
  #menu-table #most-popular h3 {
    background-color: #ddd;
    background-image: -moz-linear-gradient(#FFC300,#FFB000);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFC300), to(#FFB000));    
    background-image: -webkit-linear-gradient(#FFC300, #FFB000);
    background-image: -o-linear-gradient(#FFC300, #FFB000);
    background-image: -ms-linear-gradient(#FFC300, #FFB000);
    background-image: linear-gradient(#FFC300, #FFB000);
    margin-top: -30px;
    padding-top: 30px;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0; 		
  }
  
  #menu-table .option:nth-child(1) h3 {
    -moz-border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;       
  }
  
  #menu-table .option:nth-child(4) h3 {
    -moz-border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;       
  }	
  
  #menu-table h3 span {
    display: block;
    font: bold 25px/100px Georgia, Serif;
    color: #777;
    background: #fff;
    border: 5px solid #fff;
    height: 100px;
    width: 100px;
    margin: 10px auto -65px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
    -webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
    box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
  }
  
  /* --------------- */
  
  #menu-table ul {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
  }
  
  #menu-table li {
    border-top: 1px solid #ddd;
    padding: 10px 0;
  }

    
  /* --------------- */
  
  .clear:before, .clear:after {
    content:"";
    display:table
  }
  
  .clear:after {
    clear:both
  }
  
  .clear {
    zoom:1
  }

  /* -------------------------------------------------------------------------- */
  /* Login Form */

  input, 
  button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
    display: block;
    width: 70vw;
    opacity: 0;
    pointer-events: none;
    transition: all .5s cubic-bezier(.4, .25, .8, .3);
  }

  input {
    padding: .25rem 0;
    border: 0;
    border-bottom: 1px solid #FFC300;
    outline: 0;
    background: transparent;
    color: #000;
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: .125rem;
    transition: all .5s cubic-bezier(.4, .25, .8, .3);
  }

  input::selection {
    background: rgba(#FFC300, 0.25);
  }

  button,
  .signup-button {
    padding: .25em 0;
    border: 0;
    outline: 0;
    background: #FFC300;
    color: rgba(#fff, 0.85);
    font-size: 2rem;
    line-height: 3.6rem;
    letter-spacing: .0625rem;
    box-shadow: 0 3px 5px 1px rgba(#000, 0.25);
    text-shadow: 0 -2px 0 rgba(#000, 0.25), 0 1px 0 rgba(#fff, 0.2);
  }

  input:focus,
  button:focus {
    opacity: 1;
    transform: translate(-50%, -100%);
    pointer-events: auto;
    transition: all .4s cubic-bezier(.1, .45, .1, .85) .5s;
    z-index: 10;
  }

  input:focus ~ input,
  input:focus ~ button {
    transform: translate(-50%, 500%);
    transition: all .5s ease-in;
  }
  input:focus ~ label .label-text {
    transform: translate(-50%, 300%);
    transition: all .5s ease-in;
  }
  input:focus ~ .tip {
    opacity: 1;
  }
  input:focus ~ .signup-button,
  button:focus ~ .signup-button {
    opacity: 0;
  }

  input:focus + label .label-text {
    opacity: 1;
    transform: translate(-50%, -100%);
    transition: all .3s cubic-bezier(.1, .45, .1, .85) .4s;
  }
  input:focus + label .nav-dot:before {
    background: #FFC300;
    box-shadow: 0 0 0 .15rem #111, 0 0 .05rem .26rem #FFC300;
  }

  .tip {
    position: fixed;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    opacity: 0;
    color: #fff;
    font-size: .875rem;
    font-weight: 300;
    letter-spacing: .125rem;
    text-transform: uppercase;
    text-align: right;
    transition: opacity .25s .5s;
  }

  .signup-button,
  .signup-button-trigger {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 70vw;
    padding: .25rem 0;
    line-height: 3.6rem;
    text-align: center;
    pointer-events: none;
    cursor: pointer;
    transition: opacity .4s .3s;
  }

  .signup-button-trigger {
    opacity: 0;
    pointer-events: auto;
  }

  .label-text {
    position: fixed;
    top: calc(50% - 4rem);
    left: 50%;
    transform: translate(-50%, -300%);
    width: 70vw;
    padding: 3.125rem 0 1.5rem;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    font-size: 1.125rem;
    font-weight: 300;
    letter-spacing: .125rem;
    pointer-events: none;
    transition: all .4s cubic-bezier(.4, .25, .8, .3) .05s;
  }

  .nav-dot {
    cursor: pointer;
    position: fixed;
    padding: .625rem 1.25rem .625rem .625rem;  
    top: 52%;
    right: 1.25rem;
  }
  .nav-dot:before {
      content: '';  
      display: inline-block;  
      border-radius: 50%;
      width: .375rem;
      height: .375rem;
      margin-right: .625rem;  
      position: fixed;
      background-color: lighten(#FEFDF4, 3%);
      border: 0;
      transition: all 0.25s;
  }
  .nav-dot:hover:before:before {
      width: .625rem;
      height: .625rem;
      margin-top: -.125rem;
      margin-left: -.125rem;
      background-color: darken(#FFC300, 5%);
  }

/*   @for $i from 1 through 4 {
    label[for="input-#{$i}"] .nav-dot {
        margin-top: -150px + (25 * $i);
    }
  }  */

  /* später zu löschen */
  #formWrapper {
    width: 970px;
    margin: auto;
  }

  h2 {
    margin-top: 25px !important;
    margin-bottom: 10px !important;
    font-size: 1.63em !important;
  }