<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Main:
          Detail.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="HeaderAssets">
    <link rel="stylesheet" href="{f:uri.resource(path: 'Css/custom.css')}"/>
</f:section>

<f:section name="content">
  <section>
    <div class="profile profile-default">
      <div class="profile__image"><f:image src="EXT:tanzpartnersuche/Resources/Public/Images/profil_latein+standard.png" /></div>
      <div class="profile__info">
        <h2>Max Mustermann</h2>
        <p class="profile__info__extra">
            Hallo liebe Tänzerinnen, <br /><br />
            kürzlich bin ich nach München gezogen und suche eine Tanzpartnerin für die Standard C-Klasse (oder höher). <br />
            Latein tanze ich auf Vorturnierniveau und würde auch hier gerne in das Turniergeschehen einsteigen.<br />
            Bei Interesse würde ich mich sehr über eine Nachricht freuen!<br /><br />
            Liebe Grüße<br />
            Max
        </p>
      </div>
      <div class="profile__stats">
        <p class="profile__stats__title">Alter</p>
        <span class="profile__stats__info">30 Jahre</span>
      </div>
      <div class="profile__stats">
        <p class="profile__stats__title">Größe</p>
        <span class="profile__stats__info">178cm</span>
      </div>
      <div class="profile__stats">
        <p class="profile__stats__title">Niveau</p>
        <span class="profile__stats__info">C-Klasse</span>
      </div>
      <div class="profile__stats">
        <p class="profile__stats__title">Disziplin</p>
        <span class="profile__stats__info">10 Tänze</span>
      </div>
      <div class="profile__stats">
        <p class="profile__stats__title">Suche</p>
        <span class="profile__stats__info">Tanzpartnerin</span>
      </div>
      <div class="profile__stats">
        <p class="profile__stats__title">Aktiv seit</p>
        <span class="profile__stats__info">06.01.2022</span>
      </div>
      <div id="MailButton" class="profile__cta">
        <a class="profilebutton">E-Mail an Max</a>
      </div>
    </div>
  </section>

  <div id="mail" class="profile profile-default spacer10 is-hidden">
    <f:render partial="Main/Mail" />
  </div>

  <f:link.action action="search" class="tpsbutton alignright spacer10 spacer-bottom30">Zurück</f:link.action><br />

  <script src="{f:uri.resource(path: 'Js/mail.js')}"></script>

</f:section>
</html>