<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Main:
          Index.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="HeaderAssets">
    <link rel="stylesheet" href="{f:uri.resource(path: 'Css/custom.css')}"/>
</f:section>

<f:section name="content">
    <h2><f:translate key="tx_tanzpartnersuche_domain_model_main.title" /></h2>

    <p><f:translate key="tx_tanzpartnersuche_domain_model_main.intro" /></p>

    <p><f:translate key="tx_tanzpartnersuche_domain_model_main.legal" /></p>

    <div id="appmenu" class="appmenu">
      <a href="#dummy" class="tile" title="Login">
          <div class="info">Login</div>
          <img src="Login.png" width="50px" height="50px">
          <h4 class="fittext">Ändern/Löschen von Inhalten</h4>
      </a>
      <a href="#dummy" class="tileyellow" title="Suche">
          <div class="info">Suche</div>
          <img src="Search.png" width="50px" height="50px">
          <h4 class="fittext">Suche nach Tanzpartnern</h4>
      </a>
      <a href="#dummy" class="tile" title="Registrierung">
          <div class="info">Registrierung</div>
          <img src="Signup.png" width="50px" height="50px">
          <h4 class="fittext">Anlegen eines eigenen Profils</h4>
      </a>
      <a href="#dummy" class="tile" title="Hinweise">
          <div class="info">Hinweise</div>
          <img src="Docs.png" width="50px" height="50px">
          <h4 class="fittext">Datenschutz und Nutzungshinweise</h4>
      </a>
    </div>



    <table class="tx_tanzpartnersuche">
        <tr>
            <th></th>
            <th></th>
        </tr>
        <f:for each="{mains}" as="main">
            <tr>
                <td><f:link.action action="edit" arguments="{main : main}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{main : main}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Main</f:link.action>
</f:section>
</html>