<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Main:
          Index.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="HeaderAssets">
    <link rel="stylesheet" href="{f:uri.resource(path: 'Css/custom.css')}"/>
</f:section>

<f:section name="content">
    <h2><f:translate key="tx_tanzpartnersuche_domain_model_main.title" /></h2>

    <p><f:translate key="tx_tanzpartnersuche_domain_model_main.intro" /></p>

    <p><f:translate key="tx_tanzpartnersuche_domain_model_main.legal" /></p>

    <div id="appmenu" class="appmenu">
      <f:link.action action="edit" class="tile">
          <div class="info"><f:translate key="tx_tanzpartnersuche_domain_model_user.login" /></div>
          <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/login.png" width="50px" height="50px" />
          <h4 class="fittext"><f:translate key="tx_tanzpartnersuche_domain_model_user.logindesc" /></h4>
      </f:link.action>
      <f:link.action action="show" class="tileyellow">
          <div class="info"><f:translate key="tx_tanzpartnersuche_domain_model_user.find" /></div>
          <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/find.png" width="50px" height="50px" />
          <h4 class="fittext"><f:translate key="tx_tanzpartnersuche_domain_model_user.finddesc" /></h4>
      </f:link.action>
      <f:link.action action="new" class="tile">
          <div class="info"><f:translate key="tx_tanzpartnersuche_domain_model_user.registermenu" /></div>
          <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/signup.png" width="50px" height="50px" />
          <h4 class="fittext"><f:translate key="tx_tanzpartnersuche_domain_model_user.registerdesc" /></h4>
      </f:link.action>
      <f:link.action action="docs" class="tile">
          <div class="info"><f:translate key="tx_tanzpartnersuche_domain_model_user.help" /></div>
          <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/docs.png" width="50px" height="50px" />
          <h4 class="fittext"><f:translate key="tx_tanzpartnersuche_domain_model_user.helpdesc" /></h4>
      </f:link.action>
    </div>


    <!-- zu löschen 
        <f:for each="{mains}" as="main">
            <tr>
                <td><f:link.action action="edit" arguments="{main : main}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{main : main}">Delete</f:link.action></td>
            </tr>
        </f:for>

      -->

</f:section>
</html>