<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Main:
          Search.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="HeaderAssets">
    <link rel="stylesheet" href="{f:uri.resource(path: 'Css/custom.css')}"/>
</f:section>

<f:section name="content">
    <h1>Suche</h1>
    <p>Bitte beginne hier mit Deiner Suche.</p>

    <div id="wrapper">
      <div id="left-side">
        <div id="gender" class="active">Ich bin</div> 
        <div id="gender2">Ich suche</div>
        <div id="discipline">Disziplin</div>
        <div id="level">Niveau</div>
        <div id="age">Alter</div>
      </div>
    
      <div id="border">
        <div id="line" class="one"></div>
      </div>
    
      <div id="right-side">
        <div id="first" class="active">
          <div id="appmenu" class="appmenu">
              <div id="btnwoman" class="tile-mini">
                  <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/iconWoman.png" width="50px" height="50px" />
                  <h4 class="fittext">eine Dame</h4>
              </div>
              <div id="btnman" class="tile-mini">
                  <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/iconMan.png" width="50px" height="50px" />
                  <h4 class="fittext">ein Herr</h4>
              </div>
          </div>
        </div>

        <!-- <a href="#" class="button is-active" data-type="top-left" data-status="success">Top Left</a> -->

        <div id="second">
          <div id="appmenu" class="appmenu">
            <div id="btnwoman2" class="tile-mini">
              <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/iconWoman.png" width="50px" height="50px" />
              <h4 class="fittext">Tanzdame</h4>
          </div>
          <div id="btnman2" class="tile-mini">
            <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/iconMan.png" width="50px" height="50px" />
            <h4 class="fittext">Tanzherren</h4>
        </div>
          </div>
        </div>
        <div id="third">
          <div id="appmenu" class="appmenu">
            <div id="btnLatin" class="tile-mini">
                <!-- <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/iconWoman.png" width="50px" height="50px" /> -->
                <h4 class="fittext">Latein</h4>
            </div>
            <div id="btnStandard" class="tile-mini">
                <!-- <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/iconMan.png" width="50px" height="50px" /> -->
                <h4 class="fittext">Standard</h4>
            </div>
            <div id="btn10dance" class="tile-mini">
                <!-- <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/iconMan.png" width="50px" height="50px" /> -->
                <h4 class="fittext">10 Tänze</h4>
            </div>
          </div>
        </div>
        <div id="fourth">
          <div id="appmenu" class="appmenu">
            <div id="btnJugend" class="tile-micro">
              <span class="microtext">Jugend</span>
            </div>
            <div id="btnBreitensport" class="tile-micro">
              <span class="microtext">Breitensport</span>
            </div>
            <div id="btnVorturnier" class="tile-micro">
              <span class="microtext">Vorturnier</span>
            </div>
            <div id="btnD" class="tile-micro">
              <span class="microtext">D-Klasse</span>
            </div>
            <div id="btnC" class="tile-micro">
              <span class="microtext">C-Klasse</span>
            </div>
            <div id="btnB" class="tile-micro">
              <span class="microtext">B-Klasse</span>
            </div>
            <div id="btnA" class="tile-micro">
              <span class="microtext">A-Klasse</span>
            </div>
            <div id="btnS" class="tile-micro">
              <span class="microtext">S-Klasse</span>
            </div>
            <span class="microtext">Mehrfachauswahl möglich</span>
          </div>
        </div>
        <div id="fifth">
          <div id="appmenu" class="appmenu">
            <div class="range-slider tile-mini">
              <h4 class="sliderval range-value_start">18</h4>
              <input class="range-slider" type="range" id="range-value_start" value="18" min="18" max="98">
            </div>
            <div class="range-slider tile-mini">
              <h4 class="sliderval range-value_end">99</h4>
              <input class="range-slider" type="range" id="range-value_end" value="100" min="19" max="99">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="breadcrumb" class="spacer10 breadcrumb-search">
        <div id="1st" class="filter is-hidden"></div><div id="2nd" class="is-hidden"> sucht </div>
        <div id="3rd" class="filter is-hidden">Herr</div><div id="4th" class="is-hidden"> für </div>
        <div id="5th" class="filter is-hidden">Standard</div> <div id="6th" class="filter is-hidden">Latein</div>
        <div id="bcJugend" class="filter is-hidden">Jugend</div>
        <div id="bcBreitensport" class="filter is-hidden">Breitensport</div>
        <div id="bcVorturnier" class="filter is-hidden">Vorturnier</div>
        <div id="bcD" class="filter is-hidden">D-Klasse</div>
        <div id="bcC" class="filter is-hidden">C-Klasse</div>
        <div id="bcB" class="filter is-hidden">B-Klasse</div>
        <div id="bcA" class="filter is-hidden">A-Klasse</div>
        <div id="bcS" class="filter is-hidden">S-Klasse</div>
        <div id="bcStartAgeIntro" class="is-hidden"> im Alter zwischen </div><div id="bcStartAge" class="filter is-hidden">18</div>
        <div id="bcEndAgeIntro" class="is-hidden"> und </div><div id="bcEndAge" class="filter is-hidden">99</div>
    </div>

    <div id="searchlist">
      <f:render partial="Main/Searchlist" />
    </div>

    <f:link.action action="index" class="tpsbutton alignright spacer-bottom30">Zurück</f:link.action><br /><br />

    <script src="{f:uri.resource(path: 'Js/search.js')}"></script>

</f:section>
</html>
