<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="username">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.username" />
</label><br />
	<f:form.textfield property="username" id="username" /><br />
<label for="password">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.password" />
</label><br />
	<f:form.password property="password" id="password" /><br />
<label for="email">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.email" />
</label><br />
	<f:form.textfield type="email" property="email" id="email" /><br />
<label for="height">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.height" />
</label><br />
	<f:form.textfield property="height" id="height" /><br />
<label for="age">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.age" />
</label><br />
	<f:form.textfield property="age" id="age" /><br />
<label for="gender">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.gender" />
</label><br />
	<f:form.textfield property="gender" id="gender" /><br />
<label for="picture">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.picture" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="level">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.level" />
</label><br />
	<f:form.textfield property="level" id="level" /><br />
<label for="category">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.category" />
</label><br />
	<f:form.textfield property="category" id="category" /><br />
<label for="bio">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.bio" />
</label><br />
	<f:form.textarea property="bio" id="bio" cols="40" rows="15" /><br />
<label for="role">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.role" />
</label><br />
	<f:form.textfield property="role" id="role" /><br />
<label for="verificationcode">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.verificationcode" />
</label><br />
	<f:form.textfield property="verificationcode" id="verificationcode" /><br />
<label for="loggedin">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.loggedin" />
</label><br />
	<f:form.textfield property="loggedin" id="loggedin" /><br />
</html>