<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<label for="sender">
		Absender
	</label><br />
	<f:form.textfield type="email" property="sender" id="sender" required="TRUE" /><br />

	<label for="username">
		Empfänger
	</label><br />
	<f:form.textfield property="username" id="username" readonly="TRUE" /><br />

	<label for="subject">
		Betreff
	</label><br />
	<f:form.textfield property="subject" id="subject" value="Tanzpartnersuche des GSC München: Kontaktanfrage" readonly="TRUE" /><br />

	<label for="body">
		<!-- <f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.bio" /> -->
		Nachricht
	</label><br />
	<f:form.textarea rows="5" cols="83" property="body" name="body" id="body" required="TRUE" /> <br/>

</html>