<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="password">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.password" />
</label><br />
	<f:form.textfield type="password" name="password" value="{password}" required="TRUE" /><br />
<label for="password2">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.password2" />
</label><br />
	<f:form.textfield type="password" name="password2" value="{password2}" required="TRUE" /><br />

<label for="txtprivacy">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.txtprivacy" />
</label><br /><br />
</html>