{namespace gsc = GSC\Tanzpartnersuche\ViewHelpers}

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<label for="password">
		Neues <f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.password" />
	</label><br />
		<f:form.password property="password" name="password" id="password" /><br />
		<f:render partial="FormFieldErrors" arguments="{field: 'loginTanzpartnersuche.password'}" />
	<label for="password">
		Neues <f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.password" /> (Wdh.)
	</label><br />
		<f:form.password property="passwordconfirmation" name="passwordconfirmation" id="passwordconfirmation" /><br />
		<f:render partial="FormFieldErrors" arguments="{field: 'loginTanzpartnersuche.passwordconfirmation'}" />
<br /><br />
</html>