<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-tanzpartnersuche">
	<tr>
		<td><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.username" /></td>
		<td>{tanzpartnersuche.username}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.password" /></td>
		<td>{tanzpartnersuche.password}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.email" /></td>
		<td>{tanzpartnersuche.email}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.height" /></td>
		<td>{tanzpartnersuche.height}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.age" /></td>
		<td>{tanzpartnersuche.age}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.gender" /></td>
		<td>{tanzpartnersuche.gender}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.picture" /></td>
		<td>
				<f:image src="{tanzpartnersuche.picture.originalResource.publicUrl}" width="200"/>
            </td>
	</tr>
	<tr>
		<td><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.level" /></td>
		<td>{tanzpartnersuche.level}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.category" /></td>
		<td>{tanzpartnersuche.category}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.bio" /></td>
		<td>{tanzpartnersuche.bio}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.role" /></td>
		<td>{tanzpartnersuche.role}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.verificationcode" /></td>
		<td>{tanzpartnersuche.verificationcode}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.loggedin" /></td>
		<td>{tanzpartnersuche.loggedin}</td>
	</tr>
</table>
</html>
