{namespace gsc = GSC\Tanzpartnersuche\ViewHelpers}

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="username">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.username" />
</label><br />
	<f:form.textfield property="username" name="username" id="username" required="TRUE"/><br />
	<f:render partial="FormFieldErrors" arguments="{field: 'newTanzpartnersuche.username'}" />
<label for="password">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.password" />
</label><br />
	<f:form.password property="password" name="password" id="password" /><br />
	<f:render partial="FormFieldErrors" arguments="{field: 'newTanzpartnersuche.password'}" />
<label for="passwordconfirmation">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.password2" />
</label><br />
	<f:form.password property="passwordconfirmation" name="passwordconfirmation" id="passwordconfirmation" /><br />
	<f:render partial="FormFieldErrors" arguments="{field: 'newTanzpartnersuche.passwordconfirmation'}" />
<label for="email">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.email" />
</label><br />
	<f:form.textfield type="email" property="email" name="email" id="email" required="TRUE" /><br />
	<f:render partial="FormFieldErrors" arguments="{field: 'newTanzpartnersuche.email'}" />
<label for="height">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.height" />
</label><br />
	<f:form.textfield property="height" name="height" id="height" required="TRUE" /><br />
	<f:render partial="FormFieldErrors" arguments="{field: 'newTanzpartnersuche.height'}" />
<label for="age">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.age" />
</label><br />
	<f:form.textfield property="age" name="age" id="age" required="TRUE" /><br />
	<f:render partial="FormFieldErrors" arguments="{field: 'newTanzpartnersuche.age'}" />
<label for="gender">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.gender" />
</label><br />
	<f:form.select name="gender" property="gender" id="gender">
		<f:form.select.option value="0"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.select" /></f:form.select.option>
		<f:form.select.option value="1"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.gender-female" /></f:form.select.option>
		<f:form.select.option value="2"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.gender-male" /></f:form.select.option>
	 </f:form.select> <br/>
	 <f:render partial="FormFieldErrors" arguments="{field: 'newTanzpartnersuche.gender'}" />
<label for="role">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.role" />
</label><br />
	<f:form.select name="role" property="role" id="role">
		<f:form.select.option value="0"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.select" /></f:form.select.option>
		<f:form.select.option value="1"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.role-00" /></f:form.select.option>
		<f:form.select.option value="2"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.role-01" /></f:form.select.option>
	</f:form.select> <br/>
	<f:render partial="FormFieldErrors" arguments="{field: 'newTanzpartnersuche.role'}" />
<label for="category">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.category" />
</label><br />
	<f:form.select name="category" property="category" id="category">
		<f:form.select.option value="0"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.select" /></f:form.select.option>
		<f:form.select.option value="1"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.category-00" /></f:form.select.option>
		<f:form.select.option value="2"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.category-01" /></f:form.select.option>
		<f:form.select.option value="3"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.category-02" /></f:form.select.option>
	</f:form.select> <br/>
	<f:render partial="FormFieldErrors" arguments="{field: 'newTanzpartnersuche.category'}" />
<label for="level">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.level" />
</label><br />
	<f:form.select name="level" property="level" id="level">
		<f:form.select.option value="0"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.select" /></f:form.select.option>
		<f:form.select.option value="1"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.level-00" /></f:form.select.option>
		<f:form.select.option value="2"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.level-01" /></f:form.select.option>
		<f:form.select.option value="3"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.level-02" /></f:form.select.option>
		<f:form.select.option value="4"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.level-03" /></f:form.select.option>
		<f:form.select.option value="5"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.level-04" /></f:form.select.option>
		<f:form.select.option value="6"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.level-05" /></f:form.select.option>
		<f:form.select.option value="7"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.level-06" /></f:form.select.option>
		<f:form.select.option value="8"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.level-07" /></f:form.select.option>
	 </f:form.select> <br/>
	 <f:render partial="FormFieldErrors" arguments="{field: 'newTanzpartnersuche.level'}" />
<label for="bio">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.bio" />
</label><br />
	<f:form.textarea rows="5" cols="83" property="bio" name="bio" id="bio" required="TRUE" /> <br/>
	<f:render partial="FormFieldErrors" arguments="{field: 'newTanzpartnersuche.bio'}" />
	<br /><br />

<!-- <label for="picture">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.picture" />
</label><br /> -->

<label for="txtprivacy">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.txtprivacy" />
</label><br /><br />
</html>