{namespace gsc = GSC\Tanzpartnersuche\ViewHelpers} 

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    
    <div id="searchresults" class="wrapper spacer10">
    
        <div class="table">
    
          <div class="row header">
            <div class="cell">
              <f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.username" />
            </div>
            <div class="cell">
              <f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.heightshort" />
            </div>
            <div class="cell">
              <f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.ageshort" />
            </div>
            <div class="cell">
              <f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.gendershort" />
            </div>
            <div class="cell">
              <f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.categoryshort" />
            </div>
            <div class="cell">
              <f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.levelshort" />
            </div>
          </div>
          
          

            <f:for each="{tanzpartnersuches}" as="tanzpartnersuche">
              <div class="row">
                  <div class="cell" data-title="Name">
                      <f:link.action action="detail" arguments="{tanzpartnersuche:tanzpartnersuche}">{tanzpartnersuche.username}</f:link.action>
                    </div>
                  <div class="cell" data-title="Größe">{tanzpartnersuche.height}</div>
                  <div class="cell" data-title="Alter">{tanzpartnersuche.age}</div>
                  <div class="cell" data-title="Geschlecht">
                    <f:form.select name="gender" value="{tanzpartnersuche.gender}" id="gender" class="selreadonly" disabled="TRUE">
                      <f:form.select.option value="1"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.gender-female" /></f:form.select.option>
                      <f:form.select.option value="2"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.gender-male" /></f:form.select.option>
                    </f:form.select>
                  </div>
                  <div class="cell" data-title="Disziplin">
                    <f:form.select name="category" value="{tanzpartnersuche.category}" id="category" class="selreadonly" disabled="TRUE">
                      <f:form.select.option value="1"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.category-00" />&nbsp;&nbsp;</f:form.select.option>
                      <f:form.select.option value="2"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.category-01" />&nbsp;&nbsp;</f:form.select.option>
                      <f:form.select.option value="3"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.category-02" />&nbsp;&nbsp;</f:form.select.option>
                    </f:form.select>
                  </div>
                  <div class="cell" data-title="Niveau">
                    <f:form.select name="level" value="{tanzpartnersuche.level}" id="level" class="selreadonly" disabled="TRUE">
                      <f:form.select.option value="1"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.level-00" />&nbsp;&nbsp;</f:form.select.option>
                      <f:form.select.option value="2"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.level-01" />&nbsp;&nbsp;</f:form.select.option>
                      <f:form.select.option value="3"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.level-02" />&nbsp;&nbsp;</f:form.select.option>
                      <f:form.select.option value="4"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.level-03" />&nbsp;&nbsp;</f:form.select.option>
                      <f:form.select.option value="5"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.level-04" />&nbsp;&nbsp;</f:form.select.option>
                      <f:form.select.option value="6"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.level-05" />&nbsp;&nbsp;</f:form.select.option>
                      <f:form.select.option value="7"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.level-06" />&nbsp;&nbsp;</f:form.select.option>
                      <f:form.select.option value="8"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.level-07" />&nbsp;&nbsp;</f:form.select.option>
                    </f:form.select>
                  </div>
              </div>
            </f:for>

            <!-- ToDo: remove -->
            <!-- <gsc:gender gender="1"></gsc:gender> -->

          

        </div>
    </div>
</html>