<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="username">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.username" />
</label><br />
	<f:form.textfield property="username" name="username" id="username" required="TRUE"/><br />
<label for="verificationcode">
	<f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.verificationcode" />
</label><br />
	<f:form.textfield property="verificationcode" name="verificationcode" id="verificationcode" required="TRUE"/><br />
<br /><br />
</html>