<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/Signup.html
-->

<!-- ToDo: Links anpassen -->
<!-- ToDo: language.xlf erweitern -->

    <div id="menuWrapper">
        
        <form>
            <input id="input-1" type="text" placeholder="Benutzername" required autofocus />
            <label for="input-1">
              <span class="label-text">Benutzername</span>
              <span class="nav-dot"></span>
              <div class="signup-button-trigger">Sign Up</div>
            </label>
            <input id="input-2" type="email" placeholder="email@domain.de" required />
            <label for="input-2">
              <span class="label-text">Email</span>
              <span class="nav-dot"></span>
            </label>
            <input id="input-3" type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" required />
            <label for="input-3">
              <span class="label-text">Passwort</span>
              <span class="nav-dot"></span>
            </label>
            <input id="input-4" type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" required />
            <label for="input-4">
              <span class="label-text">Bestätige Passwort</span>
              <span class="nav-dot"></span>
            </label>
            <button type="submit">Account anlegen</button>
            <p class="tip">Tab-Taste drücken</p>
            <div class="signup-button">Anmelden</div>
        </form>
          

    </div>
</html>
