<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/Startmenu.html
-->

<!-- ToDo: Links anpassen -->

    <div id="menuWrapper">
        <div class="regMenu" >
            <div id="menu-table" class="clear">
                <div class="option">
                    <n:link title="#dummy">
                        <h3><f:translate key="tanzpartnersuche.login" /><span><img src="../../Public/Images/login.png" width="50px" height="50px"></span></h3>       
                        <ul>
                            <li><f:translate key="tanzpartnersuche.logindesc" /></li>
                        </ul> 
                    </n:link>
                </div>
                <div class="option" id="most-popular">
                    <n:link title="#dummy">
                        <h3><f:translate key="tanzpartnersuche.find" /><span><img src="../../Public/Images/find.png" width="50px" height="50px"></span></h3>        
                        <ul>
                            <li><f:translate key="tanzpartnersuche.finddesc" /></li>			
                        </ul> 
                    </n:link>  
                </div>
                <div class="option">
                    <n:link title="#dummy">
                        <h3><f:translate key="tanzpartnersuche.register" /><span><img src="../../Public/Images/signup.png" width="50px" height="50px"></span></h3>
                        <ul>
                            <li><f:translate key="tanzpartnersuche.register" /></li>
                        </ul>
                    </n:link>
                </div>
                <div class="option">
                    <n:link title="#dummy">
                        <h3><f:translate key="tanzpartnersuche.help" /><span><img src="../../Public/Images/docs.png" width="50px" height="50px"></span></h3>		
                        <ul>
                            <li><f:translate key="tanzpartnersuche.helpdesc" /></li>			
                        </ul>
                    </n:link>
                </div> 	
            </div>
        </div>
    </div>
</html>
