<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="default" />
<!--
	=====================
		Templates/Main.html
-->

<f:section name="content">
	<!--TYPO3SEARCH_end-->
	
	<h2><f:translate key="tanzpartnersuche.title" /></h2>
	<p><f:translate key="tanzpartnersuche.intro" /></p>
	<br /><br />
	<p><f:translate key="tanzpartnersuche.legal" /></p>
	

    <f:render partial="Startmenu" />

	<!--TYPO3SEARCH_begin-->
</f:section>
</html>