<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    
    <div id="searchresults" class="wrapper spacer10">
    
        <div class="table">
    
          <div class="row header">
            <div class="cell">
              Benutzername
            </div>
            <div class="cell">
              Größe (in cm)
            </div>
            <div class="cell">
              Alter (in Jahren)
            </div>
            <div class="cell">
              Geschlecht
            </div>
            <div class="cell">
              Disziplin
            </div>
            <div class="cell">
              Niveau
            </div>
          </div>
          
          <div class="row">
            <div class="cell" data-title="Name">
              Max Mustermann
            </div>
            <div class="cell" data-title="Größe">
              181
            </div>
            <div class="cell" data-title="Alter">
              46
            </div>
            <div class="cell" data-title="Geschlecht">
              Mann
            </div>
            <div class="cell" data-title="Disziplin">
              Standard
            </div>
            <div class="cell" data-title="Niveau">
              B-Klasse
            </div>
          </div>
          
          <div class="row">
            <div class="cell" data-title="Name">
              Maxi Musterfrau
            </div>
            <div class="cell" data-title="Größe">
              165
            </div>
            <div class="cell" data-title="Alter">
              37
            </div>
            <div class="cell" data-title="Geschlecht">
              Frau
            </div>
            <div class="cell" data-title="Disziplin">
              Latein
            </div>
            <div class="cell" data-title="Niveau">
              C-Klasse
            </div>

          </div>   

        </div>
        
    </div>

</html>
    