<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="username">
	<f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:db_username" />
</label><br />
	<f:form.textfield property="username" name="username" id="username" required="TRUE"/><br />
	<f:render partial="FormFieldErrors" arguments="{field: 'editTanzpartnersuche.username'}" />
<label for="height">
	<f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:db_height" />
</label><br />
	<f:form.textfield property="height" name="height" id="height" required="TRUE" /><br />
	<f:render partial="FormFieldErrors" arguments="{field: 'editTanzpartnersuche.height'}" />
<label for="age">
	<f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:db_age" />
</label><br />
	<f:form.textfield property="age" name="age" id="age" required="TRUE" /><br />
	<f:render partial="FormFieldErrors" arguments="{field: 'editTanzpartnersuche.age'}" />
<label for="gender">
	<f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:db_gender" />
</label><br />
	<f:form.select name="gender" property="gender" id="gender">
		<f:form.select.option value="0"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:select" /></f:form.select.option>
		<f:form.select.option value="1"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:gender-female" /></f:form.select.option>
		<f:form.select.option value="2"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:gender-male" /></f:form.select.option>
	 </f:form.select> <br/>
	 <f:render partial="FormFieldErrors" arguments="{field: 'editTanzpartnersuche.gender'}" />
<label for="role">
	<f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:db_role" />
</label><br />
	<f:form.select name="role" property="role" id="role">
		<f:form.select.option value="0"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:select" /></f:form.select.option>
		<f:form.select.option value="1"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:role-00" /></f:form.select.option>
		<f:form.select.option value="2"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:role-01" /></f:form.select.option>
	</f:form.select> <br/>
	<f:render partial="FormFieldErrors" arguments="{field: 'editTanzpartnersuche.role'}" />
<label for="category">
	<f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:db_category" />
</label><br />
	<f:form.select name="category" property="category" id="category">
		<f:form.select.option value="0"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:select" /></f:form.select.option>
		<f:form.select.option value="1"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:category-00" /></f:form.select.option>
		<f:form.select.option value="2"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:category-01" /></f:form.select.option>
		<f:form.select.option value="3"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:category-02" /></f:form.select.option>
	</f:form.select> <br/>
	<f:render partial="FormFieldErrors" arguments="{field: 'editTanzpartnersuche.category'}" />
<label for="level">
	<f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:db_level" />
</label><br />
	<f:form.select name="level" property="level" id="level">
		<f:form.select.option value="0"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:select" /></f:form.select.option>
		<f:form.select.option value="1"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:level-00" /></f:form.select.option>
		<f:form.select.option value="2"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:level-01" /></f:form.select.option>
		<f:form.select.option value="3"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:level-02" /></f:form.select.option>
		<f:form.select.option value="4"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:level-03" /></f:form.select.option>
		<f:form.select.option value="5"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:level-04" /></f:form.select.option>
		<f:form.select.option value="6"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:level-05" /></f:form.select.option>
		<f:form.select.option value="7"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:level-06" /></f:form.select.option>
		<f:form.select.option value="8"><f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:level-07" /></f:form.select.option>
	 </f:form.select> <br/>
	 <f:render partial="FormFieldErrors" arguments="{field: 'editTanzpartnersuche.level'}" />
<label for="bio">
	<f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:db_bio" />
</label><br />
	<f:form.textarea rows="5" cols="83" property="bio" name="bio" id="bio" required="TRUE" /> <br/>
	<f:render partial="FormFieldErrors" arguments="{field: 'editTanzpartnersuche.bio'}" />
</html>
