<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:form.hidden name="email" value="{email}" />
	<f:form.hidden name="token" value="{token}" />
	<label for="password">
		<f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:db_password" />
	</label><br />
		<f:form.password name="password" id="password" required="TRUE" /><br />
	<label for="passwordconfirmation">
		<f:translate key="LLL:EXT:tanzpartnersuche/Resources/Private/Language/de.tanzpartnersuche.xlf:db_passwordconfirmation" />
	</label><br />
		<f:form.password name="passwordconfirmation" id="passwordconfirmation" required="TRUE" /><br />
</html>
