<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Tanzpartnersuche:
          Detail.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="HeaderAssets">
    <link rel="stylesheet" href="{f:uri.resource(path: 'Css/custom.css')}"/>
</f:section>

<f:section name="content">    
    <div class="container profil">       
        <div class="row justify-content-start">
            <div class="col-xs-12">
                <f:if condition="{tanzpartnersuche.category} == 1">
                    <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/profil_latein.png" />      
                </f:if>
                <f:if condition="{tanzpartnersuche.category} == 2">
                    <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/profil_standard.png" />
                </f:if>
                <f:if condition="{tanzpartnersuche.category} == 3">
                    <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/profil_latein+standard.png" />
                </f:if>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-xs-12 col-sm-6 pborder">
                <div class="row" style="margin-top: 20px; margin-left: 0px; margin-right: 0px;">
                    <div class="col spacer-bottom30">
                        {tanzpartnersuche.bio}
                    </div>
                    <div class="w-100"></div>
                    <div class="col-sm-1 spacer10">
                        <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/age.png" />
                    </div>
                    <div class="col-sm-5 spacer10">
                        Alter: {tanzpartnersuche.age} Jahre
                    </div>
                    <div class="w-100"></div>
                    <div class="col-sm-1 spacer10">
                        <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/age.png" />
                    </div>
                    <div class="col-sm-5 spacer10">
                        Alter: {tanzpartnersuche.age} Jahre
                    </div>
                    <div class="w-100"></div>
                    <div class="col-sm-1 spacer10">
                        <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/age.png" />
                    </div>
                    <div class="col-sm-5 spacer10">
                        Alter: {tanzpartnersuche.age} Jahre
                    </div>
                    <div class="w-100"></div>
                    <div class="col-sm-1 spacer10">
                        <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/age.png" />
                    </div>
                    <div class="col-sm-5 spacer10">
                        Alter: {tanzpartnersuche.age} Jahre
                    </div>
                    <div class="w-100"></div>
                    <div class="col-sm-1 spacer10">
                        <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/age.png" />
                    </div>
                    <div class="col-sm-5 spacer10">
                        Alter: {tanzpartnersuche.age} Jahre
                    </div>
                    <div class="w-100"></div>
                    <div class="col-sm-1 spacer10">
                        <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/age.png" />
                    </div>
                    <div class="col-sm-5 spacer10">
                        Alter: {tanzpartnersuche.age} Jahre
                    </div>
                    <div class="w-100"></div>
                    
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 pborder">
                <h3>Mail</h3>
            </div>
        </div>
    </div>







    <h1>Profilansicht {tanzpartnersuche.username}</h1>

    <div class="tanzpartnersuche">
      <div class="tps_entry">
          <div class="tps_header">
              <f:if condition="{tanzpartnersuche.category} == 1">
                <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/profil_latein.png" />
              </f:if>
              <f:if condition="{tanzpartnersuche.category} == 2">
                <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/profil_standard.png" />
              </f:if>
              <f:if condition="{tanzpartnersuche.category} == 3">
                <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/profil_latein+standard.png" />
              </f:if>
              <div class="tps_user-profile">
                  <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/avatar-GSC.png" />
                  <div class="tps_user-details">
                    {tanzpartnersuche.username}
                  </div>
              </div>
          </div>

          


          <div class="tps_action">
            <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/mail.png" />
          </div>

          <div class="tps_profil">
            <p>
              {tanzpartnersuche.bio}
            </p>
          </div>
          <div class="tps_steckbrief">
              <br />
              <div class="steckbriefPartial">
                  <table>
                      <tr>
                          <td><f:image src="EXT:tanzpartnersuche/Resources/Public/Images/age.png" /></td>
                          <td>Alter: {tanzpartnersuche.age} Jahre</td>
                      </tr>
                      <tr>
                          <td><f:image src="EXT:tanzpartnersuche/Resources/Public/Images/height.png" /></td>
                          <td>Größe: {tanzpartnersuche.height} cm</td>
                      </tr>
                      <tr>
                          <td><f:image src="EXT:tanzpartnersuche/Resources/Public/Images/level.png" /></td>
                          <td>Niveau: {tanzpartnersuche.level}</td>
                      </tr>
                  </table>
              </div>
              <div class="steckbriefPartial">
                  <table>
                      <tr>
                          <td><f:image src="EXT:tanzpartnersuche/Resources/Public/Images/discipline.png" /></td>
                          <td>Disziplin: {tanzpartnersuche.category}</td>
                      </tr>
                      <tr>
                          <td><f:image src="EXT:tanzpartnersuche/Resources/Public/Images/search.png" /></td>
                          <td>Ich suche: {tanzpartnersuche.role}</td>
                      </tr>
                      <tr>
                          <td><f:image src="EXT:tanzpartnersuche/Resources/Public/Images/clock.png" /></td>
                          <td>Eintragsdatum: {tanzpartnersuche.crdate}</td>
                      </tr>
                  </table>
              </div>
              <br />
          </div>
      </div>
    </div>

</f:section>
</html>
