<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Tanzpartnersuche:
          Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="HeaderAssets">
    <link rel="stylesheet" href="{f:uri.resource(path: 'Css/custom.css')}"/>
</f:section>

<f:section name="content">
    <h2>Eintrag ändern</h2>

    <p>{loginTanzpartnersuche.username}, hier kannst Du Deinen Eintrag ändern. Bitte vergesse nicht, die Änderungen am Ende des Formulars per 
        Schaltfläche zu übernehmen. 
    </p>
    <p>Hinweis: Deinen Nutzernamen und Deine E-Mail-Adresse kannst Du nicht nachträglich ändern. Dazu müsste ein neues Profil angelegt und 
      das alte ggfs. gelöscht werden.
    </p>

    <f:render partial="FormErrors" />

    <f:form action="update" name="loginTanzpartnersuche" object="{loginTanzpartnersuche}" >
    <f:render partial="Tanzpartnersuche/EditFields" arguments="{loginTanzpartnersuche:loginTanzpartnersuche}" />
    <f:form.submit value="Änderungen übernehmen" />
    </f:form>

    <f:link.action action="loginMenu" arguments="{loginTanzpartnersuche:loginTanzpartnersuche}" class="tpsbutton alignright"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.backlink" /></f:link.action>

</f:section>
</html>
