<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Main:
          Help.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="HeaderAssets">
    <link rel="stylesheet" href="{f:uri.resource(path: 'Css/custom.css')}"/>
</f:section>

<f:section name="content">
    <h2><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.helpdesc" /></h2>
    <p><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.helpintro" /></p>

    <h2><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.hdrprivacy" /></h2>
    
    <!-- ToDo: Einbinden des Textes in eine externe Datei -->
    Die bei der Registrierung durch den Nutzer getätigten Angaben und Daten dienen lediglich zur Nutzung der Tanzpartnersuche des GSC München e. V. Diese Daten werden keinen Dritten zugänglich gemacht. Durch Löschen des Eintrags werden die Daten des Nutzers sofort aus unserer Datenbank entfernt.<br/>
    Inhalt und Angaben innerhalb des eigenen Profils unterliegen der Verantwortung des jeweiligen Nutzers.<br/>
    Gerne geben wir Auskunft über die innerhalb unseres Internetangebotes zu einer Person oder zu ihrem Pseudonym gespeicherten Daten. Anfragen dazu bitte von der im System registrierten E-Mail-Adresse aus an <a href="mailto:tanzpartner@gsc-muenchen.de">tanzpartner@gsc-muenchen.de</a> richten.<br/>
    <h2>Weitere Bestimmungen</h2>
    Diese Plattform dient lediglich zur Kontaktaufnahme zu Tanzsportzwecken. Die Nutzung an sich ist kostenlos, auch für Nichtmitglieder. Jeder Nutzer verpflichtet sich zur Einhaltung folgender Kriterien:<br/>
      <li> Bei der Registrierung sind nur wahrheitsgemäße und, soweit als Pflichtfeld vorgegeben, vollständige Daten anzugeben.
      <li> Eine Nutzung ist erst ab 18 Jahren möglich.
      <li> Es dürfen keine Daten an Dritte weitergeleitet oder Dritten verfügbar gemacht werden.
      <li> Das Hochladen bzw. Versenden von pornografischem oder anstößigem Material in Text, Bild oder Videoform ist untersagt.
      <li> Dating-/Freundschaftsanfragen oder dergleichen sind nicht erwünscht. Sinn und Inhalt der Plattform ist die Suche nach einem Tanzpartner/einer Tanzpartnerin.
      <li> Beleidigende oder bedrohende Inhalte haben hier nichts zu suchen.
      <li> Um die persönlichen Daten gegenüber Dritten bestmöglich zu schützen, dürfen keine Namen, Adressen, Telefonnummern, Faxnummern, E-Mail-Adressen oder URLs in die beschreibenden Inhalte integriert werden, weder in Text- noch in Bildform.
      <li> Dazu gehört auch, dass in der eigenen Anzeige keine Aufforderung zur Übermittlung von persönlichen Daten hinzugefügt werden darf, die über das hinausgehen, was der Kontaktierende freiwillig preisgibt (wie z. B. Telefonnummer, ICQ etc.).
      <li> Es dürfen keine Waren oder Dienstleistungen über die Plattform angeboten werden.
      <li> Die Plattform darf nicht missbräuchlich genutzt werden (z. B. durch Spam, Werbung etc.).
      <li> Geld oder geldwerte Leistungen dürfen über die Plattform nicht angeboten werden.
    <h2>Nutzungshinweise</h2>
    <h3>1. Eintrag in die Tanzpartnersuche</h3>
    Klicke auf „Registrieren“ und trage Deine Anmeldedaten ein.
      <li> Benutzername: Dieser Name wird den anderen Benutzern auf der Plattform angezeigt. Es kann Dein richtiger Name sein, wir empfehlen aber die Verwendung eines Pseudonyms.
      <li> Passwort: Bitte verwende ein ausschließlich auf dieser Plattform genutztes, separates Passwort mit mindestens acht Zeichen, gemischt aus Klein-/Großbuchstaben, Sonderzeichen und Ziffern. Zusammen mit der E-Mail-Adresse sind das Deine Logindaten, falls Du Deinen Eintrag später editieren möchtest.
      <li> Passwort wiederholen: Wiederhole zur Bestätigung Dein eben gewähltes Passwort.
      <li> E-Mail: Deine E-Mail-Adresse, auf der Du die Kontaktanfragen aus der Tanzpartnersuche empfangen willst. Diese wird von unserem System überprüft, bevor Du Deinen Eintrag erstellen kannst. Du erhältst dazu eine separate E-Mail mit weiteren Informationen nach erfolgreicher Registrierung.
    <br/>Nachdem Du Deine E-Mail-Adresse bestätigt hast, kannst Du deinen Eintrag erstellen. (Wichtiger Hinweis: Pro E-Mail-Adresse ist nur ein Eintrag in der Datenbank möglich.) Klicke auf „Neuen Eintrag anlegen“ und fülle das Formular vollständig aus.
      <li> Alter: Dein aktuelles Alter in Jahren.
      <li> Größe: Deine Körpergröße in cm ohne Schuhe.
      <li> Niveau: Was willst Du zukünftig tanzen? (Hobbygruppe oder Breitensport oder Vorturnier oder D-/C-/B-/A-/S-Klasse oder flexibel, d. h. Du kannst Dir z. B. vorstellen, in diversen Klassen zu starten.)
      <li> Disziplin: Was willst Du gerne zukünftig tanzen?
      <li> Suche: Bist Du auf der Suche nach einem Tanzpartner oder einer Tanzpartnerin? Bitte wähle entsprechend aus.
      <li> Profil: Wenn Du möchtest, kannst Du hier gerne noch ein kleines Profil anlegen.
    <br/>Dein Eintrag bleibt für sechs Monate sichtbar und wird dann automatisch ausgeblendet. Du kannst die Sichtbarkeit jeweils um weitere sechs Monate verlängern, indem Du Dich im System mit E-Mail und Passwort einloggst. Willst Du den Eintrag löschen, dann kannst Du das ebenfalls über den Login tun.
    <h3>2. Verändern bzw. Löschen der Daten in der Tanzpartnersuche</h3>
    Klicke auf „Eintrag bearbeiten“. Mit Deiner E-Mail-Adresse und Deinem Passwort kannst Du auf Deine Daten wieder zugreifen. Falls Du Dein Passwort vergessen hast, klicke einfach auf „Passwort vergessen“. Dir wird dann Dein Passwort automatisch per E-Mail zugeschickt. Wenn Du einen Tanzpartner/eine Tanzpartnerin gefunden hast, kannst Du über den Button „Löschen“ Deine Daten wieder aus der Tanzpartnersuche entfernen. Der Eintrag wird dann sofort und unwiderruflich aus unserer Datenbank gelöscht. Damit die Datenbank aktuell bleibt, werden alle Einträge, die älter als sechs Monate sind, automatisch ausgeblendet. Du kannst Dich jedoch jederzeit erneut einloggen und Deinen Beitrag reaktivieren und ggf. aktualisieren. Er bleibt dann für weitere sechs Monate sichtbar.
    <h3>3. Kontaktaufnahme mit Deinem Wunschkandidaten</h3>
    Klicke unter „Partner/in suchen“ auf das Plus-Zeichen in der Übersicht neben der Dame bzw. dem Herrn an, mit der bzw. dem Du einmal probeweise das Tanzbein schwingen willst. Über das aufgerufene Formular kannst Du dann Deinem Wunschkandidaten/Deiner Wunschkandidatin eine Nachricht senden.
    <h3>4. E-Mail-System/Vertraulichkeit</h3>
    Bei der Registrierung wird Deine E-Mail bei uns im System hinterlegt und überprüft. Bei einer Kontaktaufnahme über unser System wird diese nicht herausgegeben. Erst wenn Du auf eine Anfrage über Deinen privaten E-Mail-Account antwortest, erfährt die Gegenseite Deine Kontaktdaten. Ab diesem Zeitpunkt läuft alle weitere Kommunikation nicht mehr über unseren Server, sondern direkt.<br/>
    Wenn Du Fragen, Wünsche oder Anregungen zur Tanzpartnersuche bzw. zur Datenbank hast, sende gerne eine Nachricht an <a href="mailto:tanzpartner@gsc-muenchen.de">tanzpartner@gsc-muenchen.de</a>.
    <br/>
    <br/>Wir wünschen Dir bei Deiner Tanzpartnersuche viel Erfolg!
    <br/><br/>
    <f:link.action action="index" class="tpsbutton"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.backlink" /></f:link.action>

</f:section>
</html>