<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Main:
          Index.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="HeaderAssets">
    <link rel="stylesheet" href="{f:uri.resource(path: 'Css/custom.css')}"/>
</f:section>

<f:section name="content">
    <h2><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.title" /></h2>

    <p><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.intro" /></p>

    <p><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.legal" /></p>

    <div id="appmenu" class="appmenu">
      <f:link.action action="login" class="tile">
          <div class="info"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.login" /></div>
          <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/login.png" width="50px" height="50px" />
          <h4 class="fittext"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.logindesc" /></h4>
      </f:link.action>
      <f:link.action action="search" arguments="{main : main}" class="tile yellow">
          <div class="info"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.find" /></div>
          <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/find.png" width="50px" height="50px" />
          <h4 class="fittext"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.finddesc" /></h4>
      </f:link.action>
      <f:link.action action="new" class="tile">
          <div class="info"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.registermenu" /></div>
          <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/signup.png" width="50px" height="50px" />
          <h4 class="fittext"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.registerdesc" /></h4>
      </f:link.action>
      <f:link.action action="help" class="tile">
          <div class="info"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.help" /></div>
          <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/docs.png" width="50px" height="50px" />
          <h4 class="fittext"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.helpdesc" /></h4>
      </f:link.action>
    </div>

</f:section>
</html>