<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Tanzpartnersuche:
          Index.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Tanzpartnersuche</h1>

    <f:flashMessages />

    <table class="tx_tanzpartnersuche">
        <tr>
            <th><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.username" /></th>
            <th><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.password" /></th>
            <th><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.email" /></th>
            <th><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.height" /></th>
            <th><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.age" /></th>
            <th><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.gender" /></th>
            <th><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.picture" /></th>
            <th><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.level" /></th>
            <th><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.category" /></th>
            <th><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.bio" /></th>
            <th><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.role" /></th>
            <th><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.verificationcode" /></th>
            <th><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.loggedin" /></th>
            <th></th>
            <th></th>
        </tr>
        <f:for each="{tanzpartnersuches}" as="tanzpartnersuche">
            <tr>
                <td><f:link.action action="show" arguments="{tanzpartnersuche : tanzpartnersuche}">{tanzpartnersuche.username}</f:link.action></td>
                <td><f:link.action action="show" arguments="{tanzpartnersuche : tanzpartnersuche}">{tanzpartnersuche.password}</f:link.action></td>
                <td><f:link.action action="show" arguments="{tanzpartnersuche : tanzpartnersuche}">{tanzpartnersuche.email}</f:link.action></td>
                <td><f:link.action action="show" arguments="{tanzpartnersuche : tanzpartnersuche}">{tanzpartnersuche.height}</f:link.action></td>
                <td><f:link.action action="show" arguments="{tanzpartnersuche : tanzpartnersuche}">{tanzpartnersuche.age}</f:link.action></td>
                <td><f:link.action action="show" arguments="{tanzpartnersuche : tanzpartnersuche}">{tanzpartnersuche.gender}</f:link.action></td>
                <td><f:link.action action="show" arguments="{tanzpartnersuche : tanzpartnersuche}">{tanzpartnersuche.picture.originalResource.name}</f:link.action></td>
                <td><f:link.action action="show" arguments="{tanzpartnersuche : tanzpartnersuche}">{tanzpartnersuche.level}</f:link.action></td>
                <td><f:link.action action="show" arguments="{tanzpartnersuche : tanzpartnersuche}">{tanzpartnersuche.category}</f:link.action></td>
                <td><f:link.action action="show" arguments="{tanzpartnersuche : tanzpartnersuche}">{tanzpartnersuche.bio}</f:link.action></td>
                <td><f:link.action action="show" arguments="{tanzpartnersuche : tanzpartnersuche}">{tanzpartnersuche.role}</f:link.action></td>
                <td><f:link.action action="show" arguments="{tanzpartnersuche : tanzpartnersuche}">{tanzpartnersuche.verificationcode}</f:link.action></td>
                <td><f:link.action action="show" arguments="{tanzpartnersuche : tanzpartnersuche}">{tanzpartnersuche.loggedin}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{tanzpartnersuche : tanzpartnersuche}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{tanzpartnersuche : tanzpartnersuche}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Tanzpartnersuche</f:link.action>
</f:section>
</html>
