<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Tanzpartnersuche:
          LoginMenu.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="HeaderAssets">
    <link rel="stylesheet" href="{f:uri.resource(path: 'Css/custom.css')}"/>
</f:section>

<f:section name="content">
    <h2>Hallo {loginTanzpartnersuche.username},</h2>

    <p>Herzlich willkommen zurück auf unserer Plattform. Du kannst hier Deinen Eintrag ändern, ihn löschen oder ein neues Passwort vergeben.
       Dein Login ist für <b>maximal 30 Minuten</b> gültig. Danach musst Du Dich erneut anmelden.
    </p>

    <p>Mit Benutzung unserer Tanzpartnersuche, erklärst Du weiterhin deine Einwilligung in die Nutzungsbestimmungen, sowie die Verarbeitung
       Deiner Angaben. Diese Einwilligung kannst Du jederzeit durch das Löschen Deines Profils widerrufen, wodurch die Rechtmäßigkeit der 
       bis zum Widerruf erfolgten Verarbeitung nicht berührt wird.</p>

    <div id="appmenu" class="appmenu">
      <f:link.action action="edit" arguments="{loginTanzpartnersuche: loginTanzpartnersuche}" class="tile">
          <div class="info">Editieren</div>
          <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/docs.png" width="50px" height="50px" />
          <h4 class="fittext">Ändern der Profilinhalte</h4>
      </f:link.action>
      <f:link.action action="changepw" class="tile">
          <div class="info">Passwort</div>
          <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/login.png" width="50px" height="50px" />
          <h4 class="fittext">Vergabe eines neuen Passwortes</h4>
      </f:link.action>
      <f:link.action action="delete" class="tile lightred">
          <div class="info">Löschen</div>
          <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/delete.png" width="50px" height="50px" />
          <h4 class="fittext">Entfernen des Accounts</h4>
      </f:link.action>
      <f:link.action action="logout" arguments="{loginTanzpartnersuche: loginTanzpartnersuche}" class="tile yellow">
          <div class="info">Ausloggen</div>
          <f:image src="EXT:tanzpartnersuche/Resources/Public/Images/logout.png" width="50px" height="50px" />
          <h4 class="fittext">Abmeldung von der Plattform</h4>
      </f:link.action>
    </div>

</f:section>
</html>