<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Tanzpartnersuche:
          New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="HeaderAssets">
    <link rel="stylesheet" href="{f:uri.resource(path: 'Css/custom.css')}"/>
</f:section>

<f:section name="content">
    <h2><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.registermenu" /></h2>

    <f:flashMessages />

    <!-- ToDo: muss wieder entfernt werden -->
    <!-- <f:de bug>{_all}</f:de bug> -->
  

    <p> <f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.register" /> </p>

    <f:render partial="FormErrors" />

    <f:form action="create" name="newTanzpartnersuche" object="{newTanzpartnersuche}">   <!-- create -->
      <f:render partial="Tanzpartnersuche/RegisterFields" />
      <f:form.submit value="Absenden" />
    </f:form>

    <f:link.action action="index" class="tpsbutton alignright"><f:translate key="tx_tanzpartnersuche_domain_model_tanzpartnersuche.backlink" /></f:link.action>
</f:section>
</html>
