{namespace gsc = GSC\Tanzpartnersuche\ViewHelpers} 

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Tanzpartnersuche:
          Search.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="HeaderAssets">
    <link rel="stylesheet" href="{f:uri.resource(path: 'Css/custom.css')}"/>
</f:section>

<f:section name="content">
    <h1>Suche</h1>
    <p>Bitte beginne hier mit Deiner Suche.</p>
    <div id="searchform">
      <f:form action="search" additionalAttributes="{role:'form'}">
        Ich bin
        <div class="radio-mini">
          <div class="radio-tile-group">
            <div class="input-container">
              <f:form.radio name="myGender" property="myGender" value="1" checked="{myGender} == 1" class="radio-button" />
              <div class="radio-tile">
                <label for="woman" class="radio-tile-label">Dame</label>
              </div>
            </div>       
            <div class="input-container">
              <f:form.radio name="myGender" property="myGender" value="2" checked="{myGender} == 2" class="radio-button" />
              <div class="radio-tile">
                <label for="man" class="radio-tile-label">Herr</label>
              </div>
            </div>
          </div>
        </div>
<hr />
        Ich suche
        <div class="radio-mini">
          <div class="radio-tile-group">
            <div class="input-container">
              <f:form.radio name="searchRole" property="searchRole" value="1" checked="{searchRole} == 1" class="radio-button" />
              <div class="radio-tile">
                <label for="woman" class="radio-tile-label">Tanzpartnerin</label>
              </div>
            </div>       
            <div class="input-container">
              <f:form.radio name="searchRole" property="searchRole" value="2" checked="{searchRole} == 2" class="radio-button" />
              <div class="radio-tile">
                <label for="man" class="radio-tile-label">Tanzpartner</label>
              </div>
            </div>
          </div>
        </div>
<hr />
        für
        <div class="radio-mini">
          <div class="radio-tile-group">
            <div class="input-container">
              <f:form.radio name="searchCategory" property="searchCategory" value="1" checked="{searchCategory} == 1" class="radio-button" />
              <div class="radio-tile">
                <label for="latin" class="radio-tile-label">Latein</label>
              </div>
            </div>       
            <div class="input-container">
              <f:form.radio name="searchCategory" property="searchCategory" value="2" checked="{searchCategory} == 2" class="radio-button" />
              <div class="radio-tile">
                <label for="standard" class="radio-tile-label">Standard</label>
              </div>
            </div>
            <div class="input-container">
              <f:form.radio name="searchCategory" property="searchCategory" value="3" checked="{searchCategory} == 3" class="radio-button" />
              <div class="radio-tile">
                <label for="10dance" class="radio-tile-label">10 Tänze</label>
              </div>
            </div>
          </div>
        </div>
<hr />
        Niveau
        <div class="radio-mini">
          <div class="radio-tile-group">
            <div class="input-container">
              <f:form.radio name="searchLevel" property="searchLevel" value="1" checked="{searchLevel} == 1" class="radio-button" />
              <div class="radio-tile">
                <label for="jugend" class="radio-tile-label">Jugend</label>
              </div>
            </div>
            <div class="input-container">
              <f:form.radio name="searchLevel" property="searchLevel" value="2" checked="{searchLevel} == 2" class="radio-button" />
              <div class="radio-tile">
                <label for="breitensport" class="radio-tile-label">Breitensport</label>
              </div>
            </div>
            <div class="input-container">
              <f:form.radio name="searchLevel" property="searchLevel" value="3" checked="{searchLevel} == 3" class="radio-button" />
              <div class="radio-tile">
                <label for="vorturnier" class="radio-tile-label">Vorturnier</label>
              </div>
            </div>
            <div class="input-container">
              <f:form.radio name="searchLevel" property="searchLevel" value="4" checked="{searchLevel} == 4" class="radio-button" />
              <div class="radio-tile">
                <label for="d-class" class="radio-tile-label">D-Klasse</label>
              </div>
            </div>
            <div class="input-container">
              <f:form.radio name="searchLevel" property="searchLevel" value="5" checked="{searchLevel} == 5" class="radio-button" />
              <div class="radio-tile">
                <label for="c-class" class="radio-tile-label">C-Klasse</label>
              </div>
            </div>
            <div class="input-container">
              <f:form.radio name="searchLevel" property="searchLevel" value="6" checked="{searchLevel} == 6" class="radio-button" />
              <div class="radio-tile">
                <label for="b-class" class="radio-tile-label">B-Klasse</label>
              </div>
            </div>
            <div class="input-container">
              <f:form.radio name="searchLevel" property="searchLevel" value="7" checked="{searchLevel} == 7" class="radio-button" />
              <div class="radio-tile">
                <label for="a-class" class="radio-tile-label">A-Klasse</label>
              </div>
            </div>
            <div class="input-container">
              <f:form.radio name="searchLevel" property="searchLevel" value="8" checked="{searchLevel} == 8" class="radio-button" />
              <div class="radio-tile">
                <label for="s-class" class="radio-tile-label">S-Klasse</label>
              </div>
            </div>
          </div>
        </div>
<hr />
        <div class="centerbutton">
          <f:form.submit value="Suche starten" />
        </div>
      </f:form>
    </div>
<hr />

    <div id="searchlist">
      <f:render partial="Tanzpartnersuche/Searchlist" arguments="{tanzpartnersuches:tanzpartnersuches}" />
    </div>
    
    <!-- if no match between database and filter criterias, notice user accordingly -->
    <f:if condition="{tanzpartnersuches}">
      <f:then></f:then>
      <f:else>Keine zur Suche passenden Einträge gefunden.</f:else>
    </f:if>

    <f:link.action action="index" class="tpsbutton alignright spacer-bottom30">Zurück</f:link.action><br /><br />

    <!-- if a selection via radio button was already done, scroll to result list via javascript -->
    <f:if condition="{myGender} || {searchRole} || {searchCategory} || {searchLevel}">
      <script src="{f:uri.resource(path: 'Js/search.js')}"></script>
    </f:if>
  </f:section>
</html>
